.footer {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 40px;
    width: 100%;
    text-align: center;
    // box-shadow: 0 0 20px 0 rgb(0, 0, 0, 0.5);
    margin: auto;

    @media screen and (max-width: 768px) {
        height: 60px;
        font-size: 10px;
    }
}