.footer {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 40px;
    width: 100%;
    text-align: center;
    margin: auto;
    opacity: 0.3;

    @media screen and (max-width: 768px) {
        height: 60px;
        font-size: 10px;
    }
}