.footer {
    justify-content: right;
    height: 60px;
    width: 100%;
    background: rgb(5, 48, 127);
    box-shadow: 0 0 20px 0 rgb(0, 0, 0, 0.5);
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
}