.input {
  @mixin object-center {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  $circleSize: 165px;
  $radius: 100px;
  $shadow: 0 0 10px 0 rgba(255, 255, 255, .35);
  $fontColor: rgb(250, 250, 250);

  input {
    pointer-events: all;
    cursor: pointer;
  }

  .profilepic {
    color: transparent;
    transition: all .3s ease;
    @include object-center;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;

    input {
      pointer-events: all;
      position: absolute;
      z-index: 1000;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      // opacity: 0;
      cursor: pointer;
    }

    img {
      // position: absolute;
      // object-fit: cover;
      width: 70px;
      height: 70px;
      margin: 10px;
      box-shadow: $shadow;
      // border-radius: $radius;
      z-index: 0;
    }

    .label {
      cursor: pointer;
      height: $circleSize;
      width: $circleSize;
    }

    span {
      display: inline-flex;
      padding: .2em;
      height: 2em;
    }
  }

  /////////////////////////
  // Body styling 🐾
  /////////---------->

  body {
    height: 100vh;
    background-color: rgb(25, 24, 21);
    @include object-center;

    a:hover {
      text-decoration: none;
    }
  }
}