.Title {
    font-size: 20px;
    font-weight: 600;
    color: #000;
    margin: 0;
    padding: 0;

    @media screen and (min-width: 568px) {
        font-size: 40px !important;
    }
}

.StyledTitle {
    @import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap');
    font-family: 'Roboto', sans-serif !important;
    font-size: 30px;
    font-weight: bold;
    color: rgb(255, 255, 255, 0.5);
    position: relative;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0;
    margin: 0;
    width: 100%;
    overflow: visible;

    span {
        font-family: Georgia, 'Times New Roman', Times, serif !important;
        font-size: 300px;
        position: absolute;
        top: -50px;
        $distance : 400px;
        overflow: visible;
        color: #ffffff;
        opacity: 0.05;
        
        &:first-child {
            left: calc(50vw - $distance);
            @media screen and (max-width: 588px) {
                left: 0;
            }
        }

        &:last-child {
            right: calc(50vw - $distance);
            @media screen and (max-width: 588px) {
                right: 0;
            }
        }
    }

    @media screen and (min-width: 568px) {
        font-size: 40px !important;
    }
}