.Kuisioner {
    position: relative;

    &::after {
        position: absolute;
        content: "";
        display: block;
        clear: both;
        height: 400px;
        width: 1px;
        color: red;
        background-color: red;
        top: 0;
        left: 0;

    }
}