// .navigation {
//     display: flex;
//     position: absolute;
//     bottom: 0;
// }

.swiper {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px 10vw;
}

.swiperItem {
    padding-top: 20px;
    padding-bottom: 20px;
}