.UserPage {
  height: 100%;
  width: 100%;
  background-position: center;
  background-repeat: repeat-y;
  background-size: 100%;
  padding: 10px;

  @media screen and (max-width: 768px) {
    padding: 0;
  }
}