.modal {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    width: 40vw !important;
    border-radius: 10px;
    height: fit-content;
    max-height: 90vh;
    padding: 10px;
    z-index: 100;
    display: flex;
    justify-content: center;
    background-color: rgba(0, 0, 0);

    @media screen and (max-width : 700px) {
        width: 80vw !important;
    }

}

.closebtn {
    cursor: pointer;
    $size : 40px;
    position: absolute;
    top: 0;
    right: 0;
    background-color: black;
    border-top-right-radius: 10px;
    border-bottom-left-radius: 10px;
    color: white;
    border: none;
    width: $size;
    height: $size;
    transition: all 0.3s ease-in-out;
    padding: 0;

    .closebtnspan {
        transition: all 0.3s ease-in-out;
        width: inherit;
        height: inherit;
        font-size: $size - 25px;
        font-weight: 700;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    &:hover {
        opacity: 0.5;

        .closebtnspan {
            transform: rotate(180deg) scale(1.4);
        }
    }
}