@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400&display=swap');

* {
  // font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  --font-family: 'Montserrat', sans-serif !important;
  font-family: 'Montserrat', sans-serif !important;
}

body {
  --font-family: 'Montserrat', sans-serif;
  font-family: 'Montserrat', sans-serif;
  margin: 0;
}