.img {
    border-radius: 10px;
    width: 100%;
    height: 150px;
    // object-fit: 50%;
    object-fit: cover;
}

.detail {
    display: flex;
    flex-direction: column;
    // border: 1px solid red;
    width: 100%;
    height: 100%;

    .images {
        // max-width: 0px;
        max-height: 600px;
        object-fit: cover;
        background-size: cover;
        border-radius: 20px;
        margin-bottom: 10px;
    }

    .name {
        overflow: hidden;
        font-size: 20px;
        font-weight: bold;
        margin-bottom: 10px;
        text-transform: capitalize;
    }

    span {
        color: rgba(255, 255, 255, 0.7);
    }

    .linkondetail {
        text-decoration: none;
        color: rgb(255, 255, 255);
        // background-color: rgb(255, 255, 255);
        padding: 2px;
        padding-inline: 5px;
        margin-top: 10px;
        // width: 100cap;
        border-radius: 20px;
        // margin: 10px;
    }

    .deskripsi {
        background-color: rgb(255, 255, 255, 0.1);
        border-radius: 10px;
        padding: 10px;
        padding-inline: 20px;
        margin-top: 10px;
        margin-bottom: 10px;
    }
}